#page_1 {
	margin: 0px;
	-moz-box-shadow: none;
	border: none;
}

#page_2 {
	
	width: 1242px;
	height: 960px;
	
	margin: 0px;
	
	-moz-box-shadow: none;
	border: solid 1px black;
	
	-moz-transform:rotate(0deg);
}

#page_3 {
	margin: 0px;
	-moz-box-shadow: none;
	border: none;
}

#controls {
	display: none;
}

#print_it_link {
	display: none;
}

#save_it_link {
	display: none;
}
