#page_1 {
	margin: 0px;
	margin-top: -140px;
	margin-left: 145px;
	-moz-box-shadow: none;
	border: solid 1px white;
	-moz-transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
}

#page_2 {
	margin: 0px;
	margin-top: -370px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: solid 1px white;
	
}

#receipt_tickets_header {
	margin-bottom: 10px;
}

#page_3 {
	margin: 0px;
	margin-top: -50px;
	
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	
	border: solid 1px white;
	border: none;
}

#page_4 {
	
	margin: 0px;
	margin-top: -50px;
	
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	
	border: solid 1px white;
	border: none;
}

#controls {
	display: none;
}

#print_it_link {
	display: none;
}

#save_it_link {
	display: none;
}
