#page_1 {
	margin: 0px;
	-moz-box-shadow: none;
	border: solid 1px white;
	-moz-transform:rotate(-90deg); 
}

#page_2 {
	
	-moz-transform:translate(0, -22em);
	margin: 0px;
	
	height: 200px;
	
	-moz-box-shadow: none;
	border: solid 1px white;
	
}

#receipt_tickets_header {
	margin-bottom: 10px;
}

#page_3 {
	margin: 0px;
	-moz-box-shadow: none;
	border: none;
}

#controls {
	display: none;
}

#print_it_link {
	display: none;
}

#save_it_link {
	display: none;
}
