body {
  background: #f1f1f1;
  color: #333;
  font-size: 14px;
  height: auto;
  padding-bottom: 20px;
}

.jobs {
	height: 60px;
}

.jobs select {
	width: 200px;
}

.rates {
	height: 150px;
}

.tickets {
	height: 90px;
}

.rates .data_rows h4 {
	width: 200px;
}

.rate_link {
	clear: none !important;
}

.rate_control_link_row {
	width: 60px;
	float: right;
	clear: none;
}

.rate_control_link {
	margin-left: 5px;
	float: left;
	clear: none;
}

.rate_control_link:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #666666;
}

.action_link {
	float: left;
	clear: left;
}

.action_link:hover {
	color: #666666;
	cursor: pointer;
	text-decoration: underline;
}

.rates .accordion_left_column .row_headers {
	width: 150px;
}

.rates .accordion_right_column .row_headers {
	width: 150px;
}

.bottom_row {
	float: left;
	
	width: 600px;
}

.bottom_input_wrapper {
	width: 45px;
	margin: auto;
}

.loggers {
	height: 60px;
}

.owners {
	height: 60px;
}

.new {
	height: 160px !important;
}

/*Header styling*/

#header {
	background: #F2F5F7;
}

/*Header buttons*/

#headerbuttons {
	float: right;
	height: 15px;
	margin-top: 5px;
}

#headerbuttons ul {
	list-style: none;
}

#headerbuttons img {
	border: 0px;
}

#headerbuttons li a.button {
	background: #EEEEEE url(/images/n1.gif);
	border-radius: 3px;
	border: 1px solid;
	padding: 4px 10px 4px;
	color:	#666666;
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
	float: right;
}

#headerbuttons li a:hover {
	color: #000000;
}

/* Navigation */

#nav {
	background: #d1d1d1;
	height: 25px;
	color: #000000;
	border-bottom: 5px solid #0a7e07;
	margin-bottom: 10px;
}

#nav ul {
	list-style: none;
	padding: 4px;
}

#nav li {
	display: block;
	float: left;
	margin-left: 10px;
}

#nav li a {
	background: #EEEEEE;
	border: 1px solid #999999;
	border-bottom: none;
	color: #666666;
	font-size: 14px;
	padding: 4px 15px 4px;
	text-decoration: none;
}

#nav li a:hover {
	color: black;
}

#nav li a#active {
	background: #EEEEEE url(/images/n3.png);
}

.nav_group_header {
	font-weight: bold;
	font-style: italic;
}

.nav_group {
	margin-left: 20px;
}
/*Styling for navbar under tabs*/

#entries_inner_nav {
	background: #deedf7;
	
	height: 25px;
	
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	
	-moz-border-radius-bottomright: 5px; 
	-webkit-border-bottom-right-radius: 5px;
	
	border: solid 1px #aed0ea;
	border-top: none;
	
}

#entries_inner_nav ul {
	margin-top: 3px;
	float: left;
}

#entries_inner_nav ul li {
	margin-left: 5px;
	float: left;
}

.selected_entries_nav_item {
	padding-left: 3px;
	padding-right: 3px;
	
	margin-right: 3px:	
	margin-left: 2px !important;
	
	background: #aed0ea;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
}

/*a styles*/

a {
  color: #001a9c;
  font-weight: bold;
  text-decoration: none;
 }

a:hover {
  text-decoration: underline;
}


/*Contents styling*/
#contents {
	
}

#quarterly_report_selector {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 4px;
	
	border: solid 1px #aed0ea;
	background: #deedf7;
	
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 10px;	
		
}

#export_database_selector {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	border: solid 1px #aed0ea;
	background: #deedf7;
	
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 10px;	
		
}

#logger_receipt_selector {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	border: solid 1px #aed0ea;
	background: #deedf7;
	
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 10px;	
		
}

#new_receipt_box {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	border: solid 1px #aed0ea;
	background: #deedf7;
	
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
}

#trucker_receipt_selector {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	border: solid 1px #aed0ea;
	background: #deedf7;
	
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 10px;	
		
}
#owner_receipt_selector {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	border: solid 1px #aed0ea;
	background: #deedf7;
		
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 10px;	
}

#payments_to_receipt select {
	width: 500px;
}

#tickets_select {
	width: 500px;
}

#receipts_select {
	width: 500px;
}

#deductions_to_receipt_list select {
	float: left;
	width: 400px;
}

#deductions_to_receipt_list_values select {
	float: left;
	width: 100px;
}

#deductions_to_receipt select {
	float: left;
	width: 180px;
}


textarea {
	float: left;
	clear: left;
	
	width: 400px;
}

#input_row {
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	clear: left;
}

#middle_column {
	float: left;
	
	margin: 0px 5px 0px 5px; 
	width: 30px;
	height: 60px;
}

#add_button {
	width: 30px;
	float: left;
}

#remove_button {
	width: 30px;
	float: left;
	clear: left;
}

.deductions_in_select {
	display: inline;
	position: absolute;
	right: 420px;
}

#submit {
	float: left;
	clear: left;
}


#job_selector {
	width: 200px;
}

#partner_selector {
	width: 200px;
}

#owner_selector {
	width: 200px;
}

#ui-tabs-1 {
	display: inline;
}

.grid_10 {
	margin: 0px;
	margin-top: 5px;
}

table {
	margin-bottom: 5px;
	margin-top: 5px;
}

input, select {
	margin-right: 3px;
}

#pagedescription {
	background:#B5B5FF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 5px;
	/*In order to get the background color to fill all the way to the side,
	 * had to replace the margin on left and right with padding on left
	 * and right, below. this replaces the margin defined in 960.css.
	 */
	padding-left: 10px;
	margin-left: 0px;
	padding-right: 10px;
	margin-right: 0px;
}
#pagedescription h2 {
	margin-bottom: 5px;
}

#contentmiddle {
	background: #fff;
	padding-left: 10px;
	margin-left: 0px;
	padding-right: 10px;
	margin-right: 0px;
	padding-bottom: 10px;
}

#entry_contents {
	
	
}

#entry_form, #current_entries, #all_entries {
	background: #deedf7;
	
	margin-top: 5px;
	
	padding-top: 5px;
	padding-left: 5px;
	padding-right 5px;
	padding-bottom: 10px;
	
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	
	border: solid 1px #aed0ea;
}


#entry_form {
	
}

#current_entries table {
	background-color: white;
	border: solid 1px #BABABA;
}

#all_entries {
	margin-bottom: 10px;
	
}

#all_entries table tbody {
	padding: 10px;
	
}

#all_entries table {
	border: 1px solid #BABABA;
	background-color: white;
}

/*Entry page table stylings*/

.table_headers {
	font-weight: bold;
}

.data_rows {
	width: 350px;
	height: 30px;
	
}

.data_rows h4 {
	width: 100px;
	float: left;
}

.row_data {
	float: left;
}

.row_headers {
	width: 100px;
	
	float: left;
	clear: left;
}

.accordion_right_column {
	float: right;
	width: 350px;
}

.accordion_left_column {
	float: left;
	width: 350px;
}


/*Content control styling*/

#contentcontrol {
	height: 35px;
}

#controlbuttons {
	display: inline;
	width: 460px;
}


#contentcontrol ul {
	margin-top: 10px;
	list-style: none;
	padding: 0px;
}

#contentcontrol li {
	display: block;
	float: right;
	margin-right: 5px;
	margin-left: 0px;
}

#contentcontrol li a {
	background: #EEEEEE url(/images/n1.gif);
	border: 1px solid #999999;
	color: #666666;
	padding: 4px 15px 4px;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#contentcontrol li a:hover {
	color: black;
}

#edit_link {
	float: none;
}

#save_range_link {
	float: none;
}

#delete_link {
	float: none;
}

/*sidebar styling*/

#sidebar {
	margin-right: 0px;
	padding-right: 10px;
}

#sidebar h2 {
	padding: 0px;
	font-weight: bold;
	color: #939393;
}

/*Bottom Content styling*/

#contentbottom {
	background: #fff;
	margin-top: 0px;
	padding-top: 10px;
	padding-left: 10px;
	margin-left: 0px;
	padding-right: 10px;
	margin-right: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*history styling*/

#recent_history {
	border-top: 1px solid #BABABA;
	padding-top: 10px;
}
#recent_history ul {
	list-style: none;
}

#recent_history span {
	color: #BABABA;
	font-size: 10px;
}

/*footer styling*/
#footer {
	background: #f1f1f1;
}

#footertext {
	float: right;
}

#footertext span {
	color: #BABABA;
}


/*Container styling*/

.container_12,
.container_16,
.container_24 {
  background-color: #fff;
  background-repeat: repeat-y;
  margin-bottom: 20px;
}

.container_12 {
  background-image: url(../img/12_col.gif);
}

.container_16 {
  background-image: url(../img/16_col.gif);
}

.container_24 {
  background-image: url(../img/24_col.gif);
}

#tabs {
	
}

/* Entry page styling */

#Incredible_invisible_text {
	color: transparent;
}

#data_entry {
	display: block;
	margin: auto;
}

table {
	margin: auto;
}

/* Setup page styling */

.selected_left_nav_item{
	background: #DEEDD0;
	width: 92%;
	
	margin-left: 3px;
	padding-left: 12px;
	
	display: block;
	
	border: solid 1px #AED0EA;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

h5 {
	font-size: 14px;
}

#inner_nav {
	
	background: #DEEDF7;
	margin-top: 5px;
	padding-top: 5px;
	border: solid 1px #AED0EA;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#jobs {
	margin-top: 5px;
	
}

#ui-tabs-1 {
	padding: 0px;
}

#ui-tabs-2 {
	padding: 0px;
}

#ui-tabs-3 {
	padding: 0px;
}

#ui-tabs-4 {
	padding: 0px;
}


a:hover {
	cursor: pointer;
}

ul {
	list-style: none; 
	margin-left: 0px;
}

li {
	margin-left: 15px;
}

.sub_header {
	font-weight: bold;
}

.label {
	clear: none;
	float: left;
	height: 25px;
	width: 50px;
	padding-top: 4px;
	margin-right: 5px;
}

.input_wrapper {
	float: left;
	height: 25px;
}

.input_row {
	width: 450px;
	height: 32px;
	clear: left;
	float: left;
}


/* Receipt styles*/

img#hfi_logo {
	float: left;
	width: 180px;
	height: 180px;
}

#receipt_header {
	float: left;
	width: 650px;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

#receipt_tickets_header {
	width: 1222px;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

#hfi_address_box {
	width: 300px;
	padding-left: 30px;
	padding-top: 50px;
	float: left;
	margin-bottom: 20px;
}

#details_box {
	border-left: 1px solid black;
	padding-left: 10px;
	
	margin-top: 50px;
	float: left;
	width: 420px;
}

#details_box .headers {
	width: 180px;
	padding-right: 10px;
	text-align: left;
	
	font-weight: bold;
}

#details_box table td {
	height: 15px;
	width: 180px;
}

#details_box .table_data {
	width: 180px;
	text-align: left;
}

#job_items_box {
	margin-top: 5px;
	float: left;
}

#payment_details_box {
	margin-top: 5px;
	float: left;
}

#payment_details_box table th {
	font-weight: bold;
	width: 200px;
}

#job_items_box table th {
	font-weight: bold;
}

#job_items_box table {
	margin: auto;
	width: 920px;
	
}

.to {
	font-weight: bold;
}

.tp {
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

.selector_label {
	float: left;
	width: 80px;
}

#landowner_payments {
	margin: auto;
	margin-bottom: 10px;
	
}

#payment_details {
	margin:auto;
	
}

/* Individual page styles */

#page_1 {
	margin-top: 25px;
	margin-bottom: 150px;
}

#page_2 {
	
}

.page {
	font-size: 16px;
	
	background: white;
	
	color: black;
	
	width: 960px;
	height: 1242px;
	
	margin: auto;
	
	border: solid 1px black;
	
	padding: 25px;
	
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
}

.landscape_page {
	
	font-size: 16px;
	
	background: white;
	
	color: black;
	
	width: 1242px;
	height: 960px;
	
	margin: auto;
	
	border: solid 1px black;
	
	padding: 25px;
	
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
}

hr {
	margin-bottom: 10px;
}

.tickets_table_box {
	
}

.tickets_table_box table {
	width: 1230px;
}

.tickets_table_box table th {
	font-weight: bold;
}

.tickets_table_box table td, .tickets_table_box table th {
	border: solid 1px #BABABA;
}

.dollars_td {
	text-align: right;
}

/*Control "bar" for printing/saving etc receipts */

#controls {
	width: 960px;
	height: 60px;
	margin: auto;
	margin-top: 25px;
	
	border: solid 1px #0088FF;
	background: #22AAFF;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	
}

#print_it_link {
	float: none;
	
	color: #777;
	
	font-size: 20px;
	margin: auto;
	width: 155px;
}

#print_it_link:hover {
	cursor: pointer;
	color: #222;
}

#save_it_link {
	float: none;
	
	color: #777;
	
	font-size: 20px;
	margin: auto;
	width: 155px;
}

#save_it_link:hover {
	cursor: pointer;
	color: #222;	
}
