$('#filler_row').before('<tr><td></td><td></td><td></td><td></td><td></td><td></td><td><select name="species"><option value="1">DF</option><option value="2">WH</option><option value="3">RC</option><option value="4">RA</option><option value="5">OH</option></select></td><td><input type="text" size="8" name="load_amount" class="fields"/></td></tr>');
