<% unless @receipts.length == 0 %>
	<% @receipts.each do |i| %> 
		<option onclick="ready_to_submit();"" value="<%= i.id %>">Receipt for payment number <%= i.payment_num %></option>
	<% end %>
<% else %>
	<option value="0">No saved receipts</option>
<% end %>
