<% unless @tickets.length == 0 %>
	<% @tickets.each do |i| %>
		<option value="<%= i.id %>"> <%= "# #{i.number} | #{i.delivery_date} | $ #{i.value}" %> </option>
	<% end %>
<% else %>
	<option value="0">No tickets</option>
<% end %>