<% if params[:id] == "0" %>
	<option>No trucker selected</option>
<% else %>
	<% unless @trucker_jobs.length == 0 %>
		<option onclick="init_ticket_select();" value="0">Select a job</option>
		<% @trucker_jobs.each do |i| %>	
			<option value="<%= i.id %>"><%= i.name %></option>
		<% end %>
	<% else %>
		<option value="0">No jobs as trucker</option>
	<% end %>
<% end %>
		
