<% if params[:id] == "0" %>
	<option>No logger selected</option>
<% else %>
	<% @logger_jobs.each do |i| %>
		<option value="0">Select a job</option>
		<option value="<%= i.id %>"><%= i.name %></option>
	<% end %>
<% end %>
		
