$('#entry_form').append('<div id="feedback" style="color: red; font-size:20px;">Error: There is already a ticket with this number in database.</div>');
setTimeout(function() { $('#feedback').fadeOut();}, 3000);
setTimeout(function() { $('#feedback').remove();}, 3600);