$('#entry_form').append('<div id="feedback" style="color: red; font-size:20px;">Error: duplicate species. Correct species selections.</div>');
setTimeout(function() { $('#feedback').fadeOut();}, 3000);
setTimeout(function() { $('#feedback').remove();}, 3600);
