<section class="grid_12" id="inputs_inner_nav">
	<ul>
		<li><a onclick="change_content('ticket_entry', 3);">Tickets</a></li>
		<li><a onclick="change_content('payment_entry', 3);">Payments</a></li>
	</ul>
</section>

<section class='grid_12' id="entry_contents">

</section>