<div class="grid_12" id="contents">
	<form action="/add_entry_row" method="post" >
		<table>
			<tr>
				<th>Ticket #</th>
				<th>Date</th>
				<th>Job</th>
				<th>Logger</th>
				<th>Landowner</th>
				<th>Destination</th>
				<th>Wood type</th>
				<th>Load type</th>
				<th>Load pay</th>
			</tr>
			<tr>
				<td>
					<input type="text" name="ticket_no" size="5"/>
				</td>
				<td>
					<input type="text" name="date" id="date" size="7"/>
					<script> $('#date').datepicker()</script>
				</td>
				<td>
					<input type="text" id="job_name" name="job_name" size="12"/>
					<script> 
						$(function() {
							var jobs = [
								"Joe Rhoades",
								"Lone Bear",
								"Durell",
								"Esteb",
								"Hazen Trust",
								"Harder",
								"Randy Johnson"
							];
													
							$('#job_name').autocomplete({ 
								source: jobs,
								delay: 50,
								autoFocus: true
							});
						});
					</script>
				</td>
					<input type="text" id="logger_name" name="logger_name" size="12"/>
					<script> 
						$(function() {
							var loggers = [
								"Tapani Underground",
								"Stephenson Logging",
								"Levanen Inc",
								"Josh Gillette"
							];
													
							$('#logger_name').autocomplete({ 
								source: loggers,
								delay: 50,
								autoFocus: true
							});
						});
					</script>
				</td>
				<td>
					<input type="text" id="landowner_name" name="landowner_name" size="15"/>
					<script> 
						$(function() {
							var owners = [
								"Joe Rhoades",
								"Feigley Road Partners LLC",
								"John Durrell",
								"Orville Esteb",
								"Hazen Trust c/o Riverview Bank",
								"Levy LLC",
								"Randy Johnson",
								"Josh Gillette"
							];
													
							$('#landowner_name').autocomplete({ 
								source: owners,
								delay: 50,
								autoFocus: true
							});
						});
					</script>
				</td>
				<td>
					<input type="text" id="destination_name" name="destination_name" size="15"/>
					<script> 
						$(function() {
							var destinations = [
								"Weyco Oly",
								"Weyco Export",
								"Willis Enterprises",
								"Simpson Mill 5",
								"Rainestree",
								"Merrill and Ring",
								"TMI forest Products",
								"Weyco Hardwood",
								"Pacific Fibre"
							];
													
							$('#destination_name').autocomplete({ 
								source: destinations,
								delay: 50,
								autoFocus: true
							});
						});
					</script>
				</td>
				<td>
					<select name="wood_type">
						<option value="1">Export</option>
						<option value="2">Pulp</option>
						<option value="3">Sawlogs</option>
					</select>
				</td>
				<td>
					<select name="load_type">
						<option value="1">MBF</option>
						<option value="2">Tonnage</option>
					</select>
				</td>
				<td>
					<input type="text" size="8" name="load_pay"/>
				</td>
				<input type="submit" value="Submit" onclick="$"/>
			</tr>
		</table>
	</form>
</div>

<script> 
	$('#content_area').append($('#contents'));
</script>
