<section class="grid_12">
	<table>
		<tr>
			<th>Ticket #</th>
			<th>Date</th>
			<th>Job</th>
			<th>Logger</th>
			<th>Landowner</th>
			<th>Destination</th>
		</tr>
		<tr>
			<td>
				<input type="text" size="5"/>
			</td>
			<td>
				<input type="text" id="date" size="7"/>
				<script> $('#date').datepicker()</script>
			</td>
			<td>
				<input type="text" id="job_name" size="12"/>
				<script> 
					$(function() {
						var jobs = [
							"Joe Rhoades",
							"Lone Bear",
							"Durell",
							"Esteb",
							"Hazen Trust",
							"Harder",
							"Randy Johnson"
						];
												
						$('#job_name').autocomplete({ 
							source: jobs,
							delay: 50,
							autoFocus: true
						});
					});
				</script>
			</td>
				<input type="text" id="logger_name" size="12"/>
				<script> 
					$(function() {
						var loggers = [
							"Tapani Underground",
							"Stephenson Logging",
							"Levanen Inc",
							"Josh Gillette"
						];
												
						$('#logger_name').autocomplete({ 
							source: loggers,
							delay: 50,
							autoFocus: true
						});
					});
				</script>
			</td>
			<td>
				<input type="text" id="landowner_name" size="15"/>
				<script> 
					$(function() {
						var owners = [
							"Joe Rhoades",
							"Feigley Road Partners LLC",
							"John Durrell",
							"Orville Esteb",
							"Hazen Trust c/o Riverview Bank",
							"Levy LLC",
							"Randy Johnson",
							"Josh Gillette"
						];
												
						$('#landowner_name').autocomplete({ 
							source: owners,
							delay: 50,
							autoFocus: true
						});
					});
				</script>
			</td>
			<td>
				<input type="text" id="destination_name" size="15"/>
				<script> 
					$(function() {
						var destinations = [
							"Weyco Oly",
							"Weyco Export",
							"Willis Enterprises",
							"Simpson Mill 5",
							"Rainestree",
							"Merrill and Ring",
							"TMI forest Products",
							"Weyco Hardwood"
							"Pacific Fibre"
						];
												
						$('#destination_name').autocomplete({ 
							source: destinations,
							delay: 50,
							autoFocus: true
						});
					});
				</script>
			</td>
		</tr>
		
	</table>
	
</section>
