<section class="grid_12" id="inputs_inner_nav">
	<ul>
		<li><%= link_to "Tickets", {:controller => "entry", :action => "ticket_entry"}, :remote => true %></li>
		<li><%= link_to "Payments", {:controller => "entry", :action => "payment_entry"}, :remote => true %></li>
	</ul>
</section>

<section class='grid_12' id="data_entry">

</section>