<section class="grid_12" id="entries_inner_nav">
	<ul>
		<li id="ticket_entry_nav" class="" ><a onclick="change_content('ticket_entry', 4);">Tickets</a></li>
		<li id="payment_entry_nav"><a onclick="change_content('payment_entry', 4);">Payments</a></li>
		<li id="comparison_nav"><a onclick="change_content('comparison', 4);">Comparison</a></li>
		<li id="deduction_nav"><a onclick="change_content('deduction', 4);">Deduction</a></li>
	</ul>
</section>

<section class='grid_12' id="entry_contents">

</section>

<script>
	change_content('ticket_entry', 4)
</script>
