<section class='grid_12' id="data_entry">
	<form action="/add_entry_row" method="post" data-remote="true">
		<table>
			<tr>
				<th>Ticket #</th>
				<th>Date</th>
				<th>Job</th>
				<th>Logger</th>
				<th>Landowner</th>
				<th>Destination</th>
				<th>Wood type</th>
				<th>Load type</th>
				<th>Load pay</th>
				<th>Action</th>
			</tr>
			<tr>
				<td>
					<input type="text" name="ticket_no" size="5" class="fields"/>
				</td>
				<td>
					<input type="text" name="date" id="date" size="7" class="fields"/>
					<script> $('#date').datepicker()</script>
				</td>
				<td>
					<input type="text" id="job_name" name="job_name" size="12" class="fields"/>
					<script> 
						$(function() {
							var jobs = [
								"Joe Rhoades",
								"Lone Bear",
								"Durell",
								"Esteb",
								"Hazen Trust",
								"Harder",
								"Randy Johnson"
							];
													
							$('#job_name').autocomplete({ 
								source: jobs,
								delay: 50,
								autoFocus: true
							});
						});
					</script>
				</td>
				<td>
					<input type="text" id="logger_name" name="logger_name" size="12" class="fields" />
					<script> 
						$(function() {
							var loggers = [
								"Tapani Underground",
								"Stephenson Logging",
								"Levanen Inc",
								"Josh Gillette"
							];
													
							$('#logger_name').autocomplete({ 
								source: loggers,
								delay: 50,
								autoFocus: true
							});
						});
					</script>
				</td>
				<td>
					<input type="text" id="landowner_name" name="landowner_name" size="15" class="fields" />
					<script> 
						$(function() {
							var owners = [
								"Joe Rhoades",
								"Feigley Road Partners LLC",
								"John Durrell",
								"Orville Esteb",
								"Hazen Trust c/o Riverview Bank",
								"Levy LLC",
								"Randy Johnson",
								"Josh Gillette"
							];
													
							$('#landowner_name').autocomplete({ 
								source: owners,
								delay: 50,
								autoFocus: true
							});
						});
					</script>
				</td>
				<td>
					<input type="text" id="destination_name" name="destination_name" size="15" class="fields" />
					<script> 
						$(function() {
							var destinations = [
								"Weyco Oly",
								"Weyco Export",
								"Willis Enterprises",
								"Simpson Mill 5",
								"Rainestree",
								"Merrill and Ring",
								"TMI forest Products",
								"Weyco Hardwood",
								"Pacific Fibre"
							];
													
							$('#destination_name').autocomplete({ 
								source: destinations,
								delay: 50,
								autoFocus: true
							});
						});
					</script>
				</td>
				<td>
					<select name="wood_type">
						<option value="Export">Export</option>
						<option value="Pulp">Pulp</option>
						<option value="Sawlogs">Sawlogs</option>
					</select>
				</td>
				<td>
					<select name="load_type">
						<option value="MBF">MBF</option>
						<option value="Tonnage">Tonnage</option>
					</select>
				</td>
				<td>
					<input type="text" size="8" name="load_pay" class="fields"/>
				</td>
				<td>
					<input type="submit" value="Submit" />
				</td>
			</tr>
			<tr>
				<td id="Incredible_invisible_text">Tag!</td>				
			</tr>
				
		</table>
	</form>
</section>