$('#entry_form').append('<div id="feedback" style="color: red; font-size:20px;">Error: Required field values missing. </div>');
setTimeout(function() { $('#feedback').fadeOut();}, 3000);
setTimeout(function() { $('#feedback').remove();}, 3600);
