<div id="entry_form">
	<form action="/add_entry_row" method="post" data-remote="true">
		<table id="entry_table">
			<tr>
				<th>Date</th>
				<th>Job</th>
				<th>Destination</th>
				<th>Wood type</th>
				<th>Load type</th>
				<th>Tickets</th>
				<th>Gross MBF</th>
				<th>Total Payment</th>
			</tr>
			<tr>
				<td>
					<input type="text" name="date" id="date" size="7" class="fields"/>
					<script> $('#date').datepicker()</script>
				</td>
				<td>
					<input type="text" id="job_name" name="job_name" size="12" class="fields"/>
					<script> 
						$(function() {
							var jobs = [
								<% @jobs.each do |i| %>
									<%= "'#{i.name}'," %>
								<% end %>
							];
													
							$('#job_name').autocomplete({ 
								source: jobs,
								delay: 50,
								autoFocus: true
							});
						});
					</script>
				</td>
				<td>
					<input type="text" id="destination_name" name="destination_name" size="15" class="fields" />
					<script> 
						$(function() {
							var destinations = [
								<% @destinations.each do |i| %>
									<%= "'#{i.name}'," %>
								<% end %>
							];
													
							$('#destination_name').autocomplete({ 
								source: destinations,
								delay: 50,
								autoFocus: true
							});
						});
					</script>
				</td>
				<td>
					<select name="wood_type">
						<option value="1">Sawlogs</option>
						<option value="2">Export</option>
						<option value="3">Pulp</option>
						<option value="4">Mixed</option>
						<option value="3">Specialty</option>
						<option value="3">Habitat Logs</option>						
					</select>
				</td>
				<td>
					<select name="load_type">
						<option value="MBF">MBF</option>
						<option value="Tonnage">Tonnage</option>
					</select>
				</td>
					<input type="text" size="3" name="tickets" class="fields"/>
				<td>
					<input type="text" size="8" name="gross_MBF" class="fields"/>
				</td>
				<td>
					<input type="text" size="8" name="total_payment" class="fields"/>
				</td>
				<td>
					<input type="submit" value="Submit" />
				</td>
			</tr>
		</table>
	</form>
</div>

<div id="current_entries">
	
</div>

<div id="all_entries">
	
</div>
