<div id="entry_form">
	<form action="/add_payment_entry_row" method="post" data-remote="true">
		<h4>New Entry</h4>
	<form action="/add_entry_row" method="post" data-remote="true">
		<table id="entry_table">
			<tr>
				<th>Date</th>
				<th>Job</th>
				<th>Destination</th>
				<th>Wood type</th>
				<th>Payment #</th>
				<th>Tickets</th>
				<th>Tonnage</th>
				<th>Net MBF</th>
				<th>Total Payment</th>
				<th>Action</th>
			</tr>
			<tr>
				<td>
					<input type="text" name="payment_date" id="date" size="7" class="fields"/>
					<script> $('#date').datepicker({ dateFormat: 'yy-mm-dd'}); $('#date').mask("9999-99-99", {placeholder: " "});</script>
				</td>
				<td>
					<input type="text" id="job_name" name="job_name" size="12" class="fields"/>
					<script> 
						$(function() {
							var jobs = [
								<% @jobs.each do |i| %>
									<%= "'#{i.name}'," %>
								<% end %>
							];
													
							$('#job_name').autocomplete({ 
								source: jobs,
								delay: 50,
								autoFocus: true
							});
						});
					</script>
				</td>
				<td>
					<input type="text" id="destination_name" name="destination_name" size="15" class="fields" />
					<script> 
						$(function() {
							var destinations = [
								<% @destinations.each do |i| %>
									<%= "'#{i.name}'," %>
								<% end %>
							];
													
							$('#destination_name').autocomplete({ 
								source: destinations,
								delay: 50,
								autoFocus: true
							});
						});
					</script>
				</td>
				<td>
					<select name="wood_type">
						<% WoodType.all.each do |i| %>
							<option value="<%= i.id %>"><%= i.name %></option>
						<% end %>					
					</select>
				</td>
				<td>
					<input id="payment_num" type="text" size="6" name="payment_num" class="fields"/>
				</td>
				<td>
					<input id="tickets" type="text" size="5" name="tickets" class="fields"/>
				</td>
				<td>
					<input id="tonnage" type="text" size="5" name="tonnage" class="fields"/>
				</td>
				<td>
					<input id="net_mbf" type="text" size="5" name="net_mbf" class="fields"/>
				</td>
				<td>
					<input id="total_payment" type="text" size="10" name="total_payment" class="fields" />
				</td>
				<td>
					<input id="submit_button" type="submit" value="Submit" style="display: none;" onclick="change_button();"/>
					<input id="check_button" type="button" value="Check" onclick="check_field_data();" />
				</td>
			</tr>
		</table>
	</form>
</div>

<div id="current_entries">
	<h4>Current entries</h4>
	<table>
		<tr>
			<th class="table_headers date_headers">Date</th>
			<th class="table_headers job_headers">Job</th>
			<th class="table_headers destination_headers">Destination</th>
			<th class="table_headers wood_type_headers">Wood type</th>
			<th class="table_headers payment_no_headers">Payment #</th>
			<th class="table_headers tickets_headers">Tickets</th>
			<th class="table_headers net_mbf_headers">Tonnage</th>
			<th class="table_headers tonnage_headers">Net MBF</th>
			<th class="table_headers payment_headers">Payment Total</th>
			<th class="table_headers action_headers">Action</th>
		</tr>		
	</table>
</div>

<div id="all_entries">
	<h4>All Entries</h4>
	<table>
		<tr>
			<th class="table_headers date_headers">Date</th>
			<th class="table_headers job_headers">Job</th>
			<th class="table_headers destination_headers">Destination</th>
			<th class="table_headers wood_type_headers">Wood type</th>
			<th class="table_headers payment_no_headers">Payment #</th>
			<th class="table_headers tickets_headers">Tickets</th>
			<th class="table_headers net_mbf_headers">Tonnage</th>
			<th class="table_headers tonnage_headers">Net MBF</th>
			<th class="table_headers payment_headers">Total Payment</th>
			<th class="table_headers action_headers">Action</th>
		</tr>
	</table>
</div>

<script>
	
	function check_field_data() {
			var values = [];
			values.push([$('#date').attr('value'), 'Payment date']);
			values.push([$('#payment_num').attr('value'), 'Payment number']);
			values.push([$('#job_name').attr('value'), 'Job name']);
			values.push([$('#destination_name').attr('value'), 'Destination name']);
			values.push([$('#tickets').attr('value'), 'Number of tickets']);
			values.push([$('#total_payment').attr('value'), 'Total payment']);
			
			$('#entry_form table').after('<div id="feedback" style="color: red;"></div>');
			
			var everything_ok = true;
			
			for (i=0;i<values.length;i++) {
				if (values[i][0] == "") {
					$('#feedback').append('<div>'+values[i][1]+' missing </div>');
					everything_ok = false;
				}
			}
			
			setTimeout(function() {
				$('#feedback').fadeOut();
				setTimeout(function() {
					$('#feedback').remove();
				}, 620);
			}, 3000);
			
			if (everything_ok) {
				$('#check_button').attr('style', 'display: none;');
				$('#submit_button').attr('style', 'display: block;');
				$('#submit_button').focus();
			}	
		}
	
		function change_button () {
			$('#submit_button').attr('style', 'display: none;');
			$('#check_button').attr('style', 'display: block;');
		}
	
	/* Deletes a payment entry from both current and all entries and of course, from database*/
		
		function delete_payment_entry(id) {
			if (confirm("Are you sure you want to delete this payment?")) {
				$.ajax ({
					url: "/delete_payment_entry/"+id,
					cache: false,
					success: function() {
						$('#current_entries').find('#'+id+'entry').fadeOut();
						setTimeout(function() {
							$('#current_entries').find('#'+id+'entry').remove();
						}, 620);
					
						$('#all_entries').find('#'+id+'entry').fadeOut();
						setTimeout(function() {
							$('#all_entries').find('#'+id+'entry').remove();
						}, 620);
					}
				});
			}	
		}
	
	
	/*Script which is run when page loads. Loads all_entries section with payment data*/
	
	refresh_all_entries('payment');
</script>
