<div class="data_pairs">Job name: Joe Rhoades</div>
<div class="data_pairs">Logger name: Tapani Underground</div>
<div class="data_pairs">Trucker name: Levanen Inc</div>
<div class="data_pairs">Landowner name: Joe Rhoades</div>