<div class="grid_2" id="inner_nav">
	<ul>
		<li id="jobs_nav"><a onclick="change_content('jobs', 1);">Jobs</a></li>
		<li id="partners_nav"><a onclick="change_content('partners', 1);">Loggers/Truckers</a></li>
		<li id="landowners_nav"><a onclick="change_content('landowners', 1);">Landowners</a></li>
		<li id="sawmills_nav"><a onclick="change_content('sawmills', 1);">Sawmills</a></li>
		<li id="rates_nav"><a onclick="change_content('rates', 1);">Rates</a></li>
	</ul>	
</div>

<div id="setup_contents">
	
</div>

<script>
	change_content('jobs', 1);
</script>

<% set_active(1) %>