<div class="grid_10" id="jobs">
	<h3><a href="#">Joe Rhoades</a></h3>
	<div class="jobs">

	</div>
	<h3><a href="#">Lone Bear</a></h3>
	<div class="jobs">

	</div>
	<h3><a href="#">Durell</a></h3>
	<div class="jobs">

	</div>
	<h3><a href="#">Esteb</a></h3>
	<div class="jobs">

	</div>
	<h3><a href="#">Hazen Trust</a></h3>
	<div class="jobs">

	</div>
	<h3><a href="#">Harder</a></h3>
	<div class="jobs">

	</div>
	<h3><a href="#">Randy Johnson</a></h3>
	<div class="jobs">

	</div>
	<h3><a href="#">Add a Job</a></h3>
	<div class="jobs">

	</div>
	
	<script>
		$('#jobs').accordion();
		$('#jobs_nav').attr('class', 'selected');
	</script>
	
</div>
