<div class="grid_10" id="loggers">
	<h3><a href="#">Levanen Inc</a></h3>
	<div class="loggers">
		
	</div>
	<h3><a href="#">Tapani underground</a></h3>
	<div class="loggers">
	
	</div>
	<h3><a href="#">Josh Gillette</a></h3>
	<div class="loggers">
	
	</div>
	<h3><a href="#">Stephenson Logging</a></h3>
	<div class="loggers">
	
	</div>
	<h3><a href="#">Add a logger</a></h3>
	<div class="loggers">
	
	</div>
	

</div>

<script>
	$('#loggers').accordion();

</script>

<% set_active(1) %>