<div class="grid_10" id="owners">
	<h3><a href="#">Joe Rhoades</a></h3>
	<div class="owners">

	</div>
	<h3><a href="#">Feigley Road Partners LLC</a></h3>
	<div class="owners">

	</div>
	<h3><a href="#">John Durrell</a></h3>
	<div class="owners">

	</div>
	<h3><a href="#">Orville Esteb</a></h3>
	<div class="owners">

	</div>
	<h3><a href="#">Hazen Trust c/o Riverview Bank</a></h3>
	<div class="owners">

	</div>
	<h3><a href="#">Levy LLC</a></h3>
	<div class="owners">

	</div>
	<h3><a href="#">Randy Johnson</a></h3>
	<div class="owners">

	</div>
	<h3><a href="#">Josh Gillette</a></h3>
	<div class="owners">

	</div>
	<h3><a href="#">Add a Landowner</a></h3>
	<div class="owners">

	</div>
	<script>
		$('#owners').accordion();
	</script>
	
</div>

<% set_active(1) %>