<div class="grid_10" id="jobs">
	<h3><a href="#">Joe Rhoades</a></h3>
	<div class="jobs">

	</div>
	<h3><a href="#">Joe Rhoades</a></h3>
	<div class="jobs">

	</div>
	<h3><a href="#">Joe Rhoades</a></h3>
	<div class="jobs">

	</div>
	<h3><a href="#">Joe Rhoades</a></h3>
	<div class="jobs">

	</div>
	
	<script>
	$('#jobs').accordion();
	
	</script>
	
</div>

<% set_active(1) %>