<div class="grid_10" id="sawmills">
	<h3><a href="#">Pacific Fibre</a></h3>
	<div class="sawmills">

	</div>
	<h3><a href="#">Weyco Hardwood</a></h3>
	<div class="sawmills">

	</div>
	<h3><a href="#">Joe Rhoades</a></h3>
	<div class="sawmills">

	</div>
	<h3><a href="#">Add a sawmill...</a></h3>
	<div class="sawmills">

	</div>
	
	<script>
	$('#sawmills').accordion();
	
	</script>
</div>

<% set_active(1) %>