<div class="grid_10" id="sawmills">
	<h3><a href="#">Pacific Fibre</a></h3>
	<div class="sawmills">

	</div>
	<h3><a href="#">Weyco Hardwood</a></h3>
	<div class="sawmills">

	</div>
	<h3><a href="#">Weyco Oly</a></h3>
	<div class="sawmills">

	</div>
	<h3><a href="#">Weyco Export</a></h3>
	<div class="sawmills">

	</div>
	<h3><a href="#">Willis Enterprises</a></h3>
	<div class="sawmills">

	</div>
	<h3><a href="#">Simpson Mill 5</a></h3>
	<div class="sawmills">

	</div>
	<h3><a href="#">Rainestree</a></h3>
	<div class="sawmills">

	</div>
	<h3><a href="#">Merril and Ring</a></h3>
	<div class="sawmills">

	</div>
	<h3><a href="#">TMI Forest Products</a></h3>
	<div class="sawmills">

	</div>
	<h3><a href="#">Pacific Fibre</a></h3>
	<div class="sawmills">

	</div>
	<h3><a href="#">Add a sawmill</a></h3>
	<div class="sawmills">
		<form>
			<div class="input_row"><div class="label">Name:</div><div class="input_wrapper"><input type="text" name="trucker_name"/></div></div>
			<div class="input_row"><div class="sub_header">Address:</div></div>
			<div class="input_row"><div class="label">Street:</div><div class="input_wrapper"><input type="text" name="addrs_street"/></div></div>
			<div class="input_row"><div class="label">City:</div><div class="input_wrapper"><input type="text" name="addrs_city"/></div></div>
			<div class="input_row"><div class="label">State:</div><div class="input_wrapper"><input type="text" name="addrs_state"/></div></div>
			<div class="input_row"><div class="label">ZIP:</div><div class="input_wrapper"><input type="text" name="addrs_zip"/></div></div>
			<div class="input_row"><div class="sub_header">Contact person:</div></div>
			<div class="input_row"><div class="label">Name:</div><div class="input_wrapper"><input type="text" name="cp_name"/></div></div>
			<div class="input_row"><div class="label">Phone:</div><div class="input_wrapper"><input type="text" name="cp_phone"/></div></div>
			<div class="input_row"><input type="submit" value="Add"/></div>
		</form>
	</div>
	
	<script>
		$('#sawmills').accordion();
	</script>
</div>

<% set_active(1) %>