<div class="grid_10" id="jobs">
	<h3><a href="#">Levanen Inc</a></h3>
	<div class="jobs">

	</div>
	<h3><a href="#">Van port</a></h3>
	<div class="jobs">

	</div>
	<h3><a href="#">Joe Rhoades</a></h3>
	<div class="jobs">

	</div>
	<h3><a href="#">Add a trucker...</a></h3>
	<div class="jobs">
		<form>
			<div class="input_row"><div class="label">Name:</div><input type="text" name="trucker_name"/></div>
			<div class="input_row"><div class="label">Address:</div></div>
			<div class="input_row"><div class="label">Street:</div><input type="text" name="addrs_street"/></div>
			<div class="input_row"><div class="label">City:</div><input type="text" name="addrs_city"/></div>
			<div class="input_row"><div class="label">State:</div><input type="text" name="addrs_state"/></div>
			<div class="input_row"><div class="label">ZIP:</div><input type="text" name="addrs_zip"/></div>
			<div class="input_row"><div class="label">Contact person:</div></div>
			<div class="input_row"><div class="label">Name:</div><input type="text" name="cp_name"/></div>
			<div class="input_row"><div class="label">Phone:</div><input type="text" name="cp_phone"/></div>
			<div class="input_row"><input type="submit" value="Add"/></div>
		</form>
	</div>
	
	<script>
	$('#jobs').accordion();
	
	</script>
	
</div>

<% set_active(1) %>