<div class="grid_2" id="inner_nav">
	<ul>
		<li id="owner_receipt_nav"><a onclick="change_content('owner_receipt', 2);">Owner</a></li>
		<li id="partner_receipt_nav"><a onclick="change_content('partner_receipt', 2);">Logger / Trucker</a></li>
	</ul>
</div>

<div id="receipt_contents">
	
</div>

<script>
	change_content('owner_receipt', 2);
</script>

<% set_active(2) %>