<div class="grid_2" id="inner_nav">
	<ul>
		<li id="new_receipt_nav"><a onclick="change_content('new_receipt', 2);">New receipt</a></li>
		<li id="search_receipt_nav"><a onclick="change_content('search_receipt', 2);">Old receipts</a></li>
	</ul>
</div>

<div id="receipt_contents">
	
</div>

<script>
	change_content('new_receipt', 2);
</script>

<% set_active(2) %>