<div class="grid_10" id="new_statement_box">
	<h4>Create a new job statement: </h4>
	<form id="create_form" action="" method="get">
		<h5>Select job:</h5>
		<select id="job_selector">
			<option value="0">Select a job</option>
			<% Job.all.each do |i| %>
				<option value="<%= i.id %>"><%= i.name %></option>
			<% end %>
		</select>
		
		<h5>Create job statement for:</h5>
		<select id="owner_type_selector" style="float: left; margin-bottom: 10px;" name="type"> 
			<option value="none"> </option>
			<option value="owner">Landowner</option>
			<option value="logger">Logger</option>
			<option value="trucker">Trucker</option>
		</select>
		
		<input id="submit_button" disabled="true" type="submit" value="No owner type selected" />		
	</form>
</div>

<script>

$('#job_selector').change(function() {
	init_type_select();
	disable_button();
})

function init_type_select () {
	$('#owner_type_selector').val('0');
	$('#tickets_select').html('<option value="0">Select owner type</option>');
}

function refresh_form_action () {
	var type = $('#owner_type_selector').val();
	var job_id = $('#job_selector').val();
	
	$('#create_form').attr('action', '/get_statement/'+job_id+'.pdf?type='+type);
}

$('#owner_type_selector').change(function() {
	var job_id = $('#job_selector').val();
	var type = $('#owner_type_selector').val();
	if ($('#owner_type_selector') != "none" && $('#owner_type_selector :selected').val() != "0") {
		if ($('#job_selector :selected').val() != "0") {
			$.ajax({
				url: '/check_for_receipts/'+job_id+'?type='+type,
				cache: false,
				success: function() {
					enable_button();
					refresh_form_action();
				},
				error: function() {
					button_show_no_receipts(type);
				}
			})
		}
	}
});

function enable_button() {
	$('#submit_button').removeAttr('disabled');
	$('#submit_button').attr('value', 'Get statement');
}

function disable_button() {
	$('#submit_button').attr('disabled', 'true');
	$('#submit_button').attr('value', 'No owner type selected');
}

function button_show_no_receipts(type) {
	$('#submit_button').attr('disabled', 'true');
	$('#submit_button').attr('value', 'No '+type+' receipts in DB');
}
</script>