<div class="grid_10" id="logger_receipt_selector">
	<h4>Select a logger in a job: </h4>
	<form>
		<select id="partner_selector">
			<option onclick="import_jobs_of_partner(0, 1)" value="0"> Select a logger </option>
			<% Partner.all.each do |i| %>
				<option onclick="import_jobs_of_partner(<%= i.id %>, 1)" value="<% i.id %>"><%= i.name %></option>
			<% end %>
		</select>
		<select id="job_selector">
			<option>No logger selected</option>
		</select>
		<input type="submit" value="Get receipt" />		
	</form>	
</div>