<div class="grid_10" id="owner_receipt_selector">
	<h4>Create a receipt for an owner: </h4>
	<h5>First, select an owner and a job:</h5>
	<form method="get" action="/get_owner_receipt" target="_blank">
		<select id="owner_selector" name="owner_id">
			<option onclick="import_jobs_of_owner(0)" value="0"> Select an owner </option>
			<% Owner.all.each do |i| %>
				<option onclick="import_jobs_of_owner(<%= i.id %>)" value="<%= i.id %>"><%= i.name %></option>
			<% end %>
		</select>
		
		<select id="job_selector" name="job_id">
			<option>No owner selected</option>
		</select>
		
		<h5>Then, select tickets to be paid:</h5>
		
		<div id="tickets_to_receipt">
			<select id="tickets_select" name="tickets[]" multiple="true" size="10">
				<option value="0">No job selected</option>
			</select>
		</div>
		
		<h5>Add deductions: </h5>
		
		<div id="deductions_to_receipt_list">
			<select id="deductions_list" name="deductions_list[]" multiple="true" size="6">
			</select>
		</div>
		
		<div id="deductions_to_receipt_list_values">
			<select id="deductions_values" name="deductions_values[]" multiple="true" size="6">
			</select>
		</div>
		
		<div id="input_row">
			Deduction: <input type="text" size="16" id="deduction_data" name="deduction_data"/> 
			Value: $ <input type="text" size="5" id="deduction_value" name="deduction_value"/> 
			<input type="button" value="Add deduction" onclick="add_new_deduction();"/>
		</div>
		
		<h5 style="float: left; clear: left;">Add notes as necessary</h5>
		
		<textarea rows="5"></textarea>
		
		<input id="submit" disabled="disabled" type="submit" onmouseover="select_all_deductions()" value="No tickets selected" />		
	</form>	
</div>

<script>

function import_jobs_of_owner(owner_id) {
	$.ajax ({
		url: '/import_jobs_of_owner/'+owner_id,
		cache: false,
		success: function (html) {
			$('#job_selector').html(html);
			$('#tickets_select').html('<option value="0">No job selected</option>')
			$('#submit').attr('disabled', 'disabled');
			$('#submit').attr('value', 'No tickets selected');
		}		
	})
}

$('#tickets_select').change(function() {
	if ($(this).val() != '0' && $(this).val() != '' && $(this).val() != null) {
		$('#submit').removeAttr('disabled');
		$('#submit').attr('value', 'Create receipt');		
	} else {
		$('#submit').attr('disabled', 'disabled');
		$('#submit').attr('value', 'No tickets selected');
	}
});

function add_new_deduction() {
	var data = $('#deduction_data').attr('value');
	var value = $('#deduction_value').attr('value');
	var id = parseInt($('#deductions_list').children().first().attr('value'), 10);
	
	if (String(id) == "NaN") {
		id = 1;
	} else {
		id = id +1;
	}
	
	$('#deductions_list').append('<option value="'+id+'">'+data+'</option>');
	$('#deductions_values').append('<option value="'+value+'"> $ '+value+'</option>');
	$('#deduction_data').attr('value', '');
	$('#deduction_value').attr('value', '');

}

function add_deduction () {	
	$('#deductions_select_list option:selected').each(function() {
		var value = $(this).attr('value');
		$('#deductions_select').append('<option value="'+value+'">'+$(this).html()+'</option>');
		$('#deductions_select_list').children().each(function() { 
			if ($(this).attr('value') == value) {
				$(this).remove();
			} 
		});
	});
	
	
	/* var value = $('#deductions_select_list').val();
	 * $('#deductions_select').append('<option value="'+value+'">'+$('#deductions_select_list option:selected').text()+'</option>')
	 * $('#deductions_select_list').children().each(function(){ if ($(this).attr('value') == value) { $(this).remove(); } });
	*/
	
}

function remove_deduction () {	
	$('#deductions_select option:selected').each(function() {
		var value = $(this).attr('value');
		$('#deductions_select_list').append('<option value="'+value+'">'+$(this).html()+'</option>');
		$('#deductions_select').children().each(function() { 
			if ($(this).attr('value') == value) {
				$(this).remove();
			} 
		});
	});
}

function refresh_tickets (id) {
	$.ajax ({
		url: '/get_logger_tickets/'+id,
		cache: false,
		success: function (html) {
			$('#tickets_select').html(html);
		}		
	})
}

function select_all_deductions() {
	var vals = []
	$('#deductions_list option').each(function () {
		vals.push(parseInt($(this).attr('value')));
	})
	$('#deductions_list').val(vals);
	
	vals = []
	$('#deductions_values option').each(function () {
		vals.push(parseInt($(this).attr('value')));
	})
	$('#deductions_values').val(vals);
}
</script>
