<div class="grid_10" id="logger_receipt_selector">
	<h4>Search for an old receipt </h4>
	<form id="search_form" action="/get_logger_receipt" method="get" target="_blank">
		<h5>Select job:</h5>
		<select id="job_selector">
			<option onclick="init_type_select(); init_receipt_select();" value="0">Select a job</option>
			<% Job.all.each do |i| %>
				<option onclick="init_type_select();" value="<%= i.id %>"><%= i.name %></option>
			<% end %>
		</select>
		
		<h5>Get tickets of:</h5>
		<select id="owner_type_selector">
			<option onclick="init_receipt_select()" value="none">  </option>
			<option onclick="refresh_receipts('landowner')" value="landowner">Landowner</option>
			<option onclick="refresh_receipts('logger')" value="logger">Logger</option>
			<option onclick="refresh_receipts('trucker')" value="trucker">Trucker</option>
		</select>
		
		<h5>Select a receipt:</h5>
		
		<div id="receipts_to_receipt">
			<select id="receipt_select" size="10" style="width: 200px;">
				<option value="0">No job selected</option>
			</select>
		</div>
		
		<input id="owner_type_hinput" type="hidden" name="owner_type" value="" />
		<input id="receipt_id_hinput" type="hidden" name="receipt_id" value="" />
		
		<input id="submit" type="submit" value="Get receipt" />		
	</form>	
</div>

<script>

function init_receipt_select () {
	$('#receipt_select').html('<option value="0">No job selected</option>');
}

function init_type_select () {
	$('#owner_type_selector').val('0');
	$('#receipt_select').html('<option value="0">No owner type selected</option>');
}

function refresh_form_action () {
	var type = $('#owner_type_selector').val();
	var receipt_id = $('#receipt_select').val();
	
	$('#search_form').attr('action', '/get_old_receipt/')
	$('#owner_type_hinput').attr('value', type)
	$('#receipt_id_hinput').attr('value', receipt_id)
}

function refresh_receipts (type) {
	var job_id = $('#job_selector').val();
	
	$.ajax ({
		url: '/get_receipts/'+job_id+'?owner_type='+type,
		cache: false,
		success: function (html) {
			$('#receipt_select').html(html);
		}		
	});
}

</script>