<div class="grid_10" id="logger_receipt_selector">
	<h4>Search for an old receipt </h4>
	<form id="search_form" action="/get_logger_receipt" method="get" target="_blank">
		<h5>Select job:</h5>
		<select id="job_selector">
			<option value="0">Select a job</option>
			<% Job.all.each do |i| %>
				<option value="<%= i.id %>"><%= i.name %></option>
			<% end %>
		</select>
		
		<h5>Get tickets of:</h5>
		<select id="owner_type_selector">
			<option value="none"></option>
			<option value="landowner">Landowner</option>
			<option value="logger">Logger</option>
			<option value="trucker">Trucker</option>
		</select>
		
		<h5>Select a receipt:</h5>
		
		<div id="payments_to_receipt">
			<select id="receipt_select" size="10">
				<option value="0">No job selected</option>
			</select>
		</div>
		
		<input id="owner_type_hinput" type="hidden" name="owner_type" value="" />
		<input id="receipt_id_hinput" type="hidden" name="receipt_id" value="" />
		
		<input id="submit_btn" type="submit" disabled="true" value="No payments selected" />		
	</form>	
</div>

<script>
$('#owner_type_selector').change(function() {
	if ($('#owner_type_selector').val() == 'none') {
		init_receipt_select();
		disable_get_receipt();
	} else if ($('#owner_type_selector').val() == 'landowner') {
		refresh_receipts('landowner');
		disable_get_receipt();
	} else if ($('#owner_type_selector').val() == 'logger') {
		refresh_receipts('logger');
		disable_get_receipt();
	} else if ($('#owner_type_selector').val() == 'trucker') {
		refresh_receipts('trucker');
		disable_get_receipt();
	}
})

$('#job_selector').change(function(){
	if ($('#job_selector :selected').val() != "0") {
		init_type_select();
		disable_get_receipt();
	} else if ($('#job_selector :selected').val() == "0") {
		init_type_select();
		init_receipt_select();
		disable_get_receipt();
	}
})


$('#receipt_select').change(function(){
	if ($('#receipt_select :selected').val() != "0") {
		enable_get_receipt();
		refresh_form_action();
	}
})

function enable_get_receipt() {
	$('#submit_btn').removeAttr('disabled');
	$('#submit_btn').attr('value', 'Get receipt');
}

function disable_get_receipt () {
	$('#submit_btn').attr('disabled', 'true');
	$('#submit_btn').attr('value', 'No payments selected');
}

function init_receipt_select () {
	$('#receipt_select').html('<option value="0">No job selected</option>');
}

function init_type_select () {
	$('#owner_type_selector').val('0');
	$('#receipt_select').html('<option value="0">No owner type selected</option>');
}

function refresh_form_action () {
	var type = $('#owner_type_selector').val();
	var receipt_id = $('#receipt_select').val();
	
	$('#search_form').attr('action', '/get_old_receipt/')
	$('#owner_type_hinput').attr('value', type)
	$('#receipt_id_hinput').attr('value', receipt_id)
}

function refresh_receipts (type) {
	var job_id = $('#job_selector').val();
	
	$.ajax ({
		url: '/get_receipts/'+job_id+'?owner_type='+type,
		cache: false,
		success: function (html) {
			$('#receipt_select').html(html);
		}		
	});
}

</script>