<div class="grid_10" id="trucker_receipt_selector">
	<h4>Create a receipt for a trucker: </h4>
	<h5>First, select trucker and a job: </h5>
	<form action="/get_trucker_receipt" method="get" target="_blank">
		<select id="partner_selector" name="logger_id">
			<option onclick="import_jobs_of_trucker(0)" value="0"> Select a trucker </option>
			<% Partner.all.each do |i| %>
				<option value="<%= i.id %>"><%= i.name %></option>
			<% end %>
		</select>
		<select id="job_selector" name="job_id">
			<option>No trucker selected</option>
		</select>
		
		<h5>Select tickets to be paid to the trucker: </h5>
		
		<div id="tickets_to_receipt">
			<select id="tickets_select" name="tickets[]" multiple="true" size="10">
				<option value="0">No job selected</option>
			</select>
		</div>
		
		<h5>Add deductions: </h5>
		
		<div id="deductions_to_receipt_list">
			<select id="deductions_list" name="deductions_list[]" multiple="true" size="6">
			</select>
		</div>
		
		<div id="deductions_to_receipt_list_values">
			<select id="deductions_values" name="deductions_values[]" multiple="true" size="6">
			</select>
		</div>
		
		<div id="input_row">
			Deduction: <input type="text" size="16" id="deduction_data" name="deduction_data"/> 
			Value: $ <input type="text" size="5" id="deduction_value" name="deduction_value"/> 
			<input type="button" value="Add deduction" onclick="add_new_deduction();"/>
		</div>
		
		<h5 style="float: left; clear: left;">Add notes as necessary</h5>
		
		<textarea name="notes" rows="5"></textarea>
		
		<input id="submit" disabled="disabled" type="submit" onclick="timed_init();" onmouseover="select_all_deductions()" value="No payments selected" />
				
	</form>	
</div>

<script>

function timed_init() {
	setTimeout(function() { 
		$('#partner_selector').val('0');
		$('#job_selector').html('<option value="0">No trucker selected</option>');
		init_ticket_select();
	}, 1000);
}

$('#partner_selector').change(function () {
	import_jobs_of_trucker($(this).val());
});

$('#job_selector').change(function () {
	refresh_tickets($(this).val());
});

function import_jobs_of_trucker(id) {
	$.ajax ({
		url: '/import_jobs_of_trucker/'+id,
		cache: false,
		success: function (html) {
			$('#job_selector').html(html);
			$('#tickets_select').html('<option value="0">No job selected</option>');
			$('#submit').attr('disabled', 'disabled');
			$('#submit').attr('value', 'No tickets selected');
		}		
	});
}

function init_ticket_select () {
	$('#tickets_select').html('<option value="0">No job selected</option>');
}

$('#tickets_select').change(function() {
	if ($(this).val() != '0' && $(this).val() != '' && $(this).val() != null) {
		$('#submit').removeAttr('disabled');
		$('#submit').attr('value', 'Create receipt');		
	} else {
		$('#submit').attr('disabled', 'disabled');
		$('#submit').attr('value', 'No tickets selected');
	}
});


function refresh_tickets (id) {
	$.ajax ({
		url: '/get_trucker_tickets/'+id,
		cache: false,
		success: function (html) {
			$('#tickets_select').html(html);
		}		
	})
}


	
</script>
