<div class="grid_10" id="export_database_selector">
	<h4>Select stoof to export</h4>
	<form action="/export_the_thing/1" method="get">
		<input style="float: left;" type="submit" value="Export Jobs"/>
	</form>
	<form action="/export_the_thing/2" method="get">
		<input style="float: left; margin-left: 5px;" type="submit" value="Export Tickets"/>
	</form>
	<form action="/export_the_thing/3" method="get">
		<input style="float: left; margin-left: 5px;" type="submit" value="Export Payments"/>
	</form>
</div>
