<div class="grid_10" id="export_database_selector">
	<form action="/pull_database" method="get" target="_blank">
		<h4>Click button to export DB</h4>
		<input type="submit" value="Export Database"/>
	</form>
</div>
