<div class="grid_2" id="inner_nav">
	<ul>
		<li id="quarterly_report_nav"><a onclick="change_content('quarterly_report', 3);">Quarterly report</a></li>
		<li id="export_database_nav"><a onclick="change_content('export_database', 3);">Export database</a></li>
	</ul>
</div>

<div id="report_contents">
	
	
	
</div>

<% set_active(3) %>