<div class="grid_10" id="owner_receipt">	
	<div id="job_selector">
		<form action="printable_owner_receipt/1" method="get">
		<div class="selector_label">Select a job:</div>
		<div class="input_wrapper">
			<select name="job_id">
				<option value="1">Hazen Trust</option>
				<option value="1">Esteb Kaski</option>
				<option value="1">Randy Johnson</option>
				<option value="1">Josh Gillette</option> 
			</select>
		</div>
		<input type="submit" value="Show" />
		
	</div>	
</div>

<% set_active(2) %>