<div class="grid_2" id="inner_nav">
	<% if $active == 1 %>
		<ul>
			<li id="jobs_nav"><a onclick="change_content('jobs');">Jobs</a></li>
			<li id="loggers_nav"><a onclick="change_content('loggers');">Loggers</a></li>
			<li id="truckers_nav"><a onclick="change_content('truckers');">Truckers</a></li>
			<li id="landowners_nav"><a onclick="change_content('landowners');">Landowners</a></li>
			<li id="sawmills_nav"><a onclick="change_content('sawmills');">Sawmills</a></li>
		</ul>
	<% else %>
		<ul>
			<li id="owner_receipt_nav"><a onclick="change_content('owner_receipt');">Owner Receipt</a></li>
			<li id="logger_receipt_nav"><a onclick="change_content('logger_receipt');">Logger Receipt</a></li>
			<li id="quarter_report_nav"><a onclick="change_content('quarter_report');">Quarter report</a></li>
		</ul>
	<% end %>
</div>

<%= yield %>

<div class="clear"></div>
