<div class="grid_2" id="inner_nav">
	<% if $active == 1 %>
		<ul>
			<li class="selected"><a href="google.com" data-remote="true">Jobs</a></li>
			<li><a href="google.com" data-remote="true">Loggers</a></li>
			<li><a href="google.com" data-remote="true">Truckers</a></li>
			<li><a href="google.com" data-remote="true">Landowners</a></li>
			<li><a href="google.com" data-remote="true">Sawmills</a></li>
		</ul>
	<% else %>
	
	
	<% end %>
</div>

<%= yield %>

<div class="clear"></div>
