<div class="grid_2" id="inner_nav">
	<% if $active == 1 %>
		<ul>
			<li class="selected"><a onclick="change_content('jobs');">Jobs</a></li>
			<li><a onclick="change_content('loggers');">Loggers</a></li>
			<li><a onclick="change_content('truckers');">Truckers</a></li>
			<li><a onclick="change_content('landowners');">Landowners</a></li>
			<li><a onclick="change_content('sawmills');">Sawmills</a></li>
		</ul>
	<% else %>
		<ul>
			<li><a onclick="change_content('owner_receipt');">Owner Receipt</a></li>
			<li><a onclick="change_content('logger_receipt');">Logger Receipt</a></li>
			<li><a onclick="change_content('quarter_report');">Quarter report</a></li>
		</ul>
	<% end %>
</div>

<%= yield %>

<div class="clear"></div>
