<!DOCTYPE html>
<html>
  <head>
    <title>Forester</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/text.css" />
    <link rel="stylesheet" href="/stylesheets/960.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/cupertino.css" />
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body style="background: white;">
    
    <%= yield %> 
  </body>